{% extends "::base.html.twig" %}

{% block content %}
	<h3> Supprimer la catégorie {{categorie}}</h3>
	<hr>
	{{ form_start(form) }}
		<div class="col-md-7">
			Voulez-vous vraiment supprimer la catégorie "{{categorie}}" ?
		</div>
		<div class="col-md-2">
			<input type="submit" value="Supprimer" class="btn btn-info form-control" /></div>
		<div class="col-md-2">
			<input type="reset" value="Annuler" class="btn btn-danger form-control" onclick='location.href = "{{ path('adh_news_view_default') }}"' />
		</div>
	{{ form_end(form) }}
{% endblock content %}