{% extends "::base.html.twig" %}

{% block content %}
	<h2>Changer le nom de la catégorie "{{categorie}}"</h2>
	<hr>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="form-group">
			<div class="col-md-2">
				{{ form_label(form.nom) }}
			</div>
			<div class="col-md-4">
				{{ form_widget(form.nom) }}
			</div>
			<div class="col-md-2">
				<input type="submit" value="Editer" class="btn btn-info form-control" />
			</div> 
			<div class="col-md-2">
				<input type="reset" value="Annuler" class="btn btn-danger form-control" onclick='location.href = "{{ path('adh_news_default') }}"' />
			</div>
		</div>
	{{ form_end(form) }}
{% endblock content %}
