{% extends "::base.html.twig" %}

{% block content %}
	{{ form_start(form, {"action": path("adh_user_user_account_password")}) }}
		{{ form_errors(form) }}
		<div>
			{{ form_label(form.old) }}
			{{ form_errors(form.old) }}
			{{ form_widget(form.old) }}
		</div>
	
		<div>
			{{ form_label(form.new) }}
			{{ form_errors(form.new) }}
			{{ form_widget(form.new) }}
		</div>
		
		<div>
			{{ form_widget(form.submit) }}
		</div>
	{{ form_end(form) }}
{% endblock content %}